<div>
  <h2 style="font-weight: 500;font-size: 16px;">CollegeMate Account</h2>
  <h1 style="font-weight: 700;font-size: 28px;">Security Code</h1>
  <br />
  <span style="font-size: 12px;">
    Please use the following security code for the CollegeMate account
    <%= email %>
  </span>
  <br />
  <span style="font-size: 12px;">
    Security Code: <b>
      <%= securityCode %>
    </b>
  </span>
  <span style="font-size: 12px">
    The code will expire in 3 minutes.
  </span>
  <br />
  <span style="font-size: 12px;">
    Never share the above security code with anyone. If you did not request the
    security code, please contact us to <a
      href="mailto:contact@collegemate.app">contact@collegemate.app</a>
  </span>
  <br />
  <span style="font-size: 12px">
    Thanks,
  </span>
  <span style="font-size: 12px">
    CollegeMate Team
  </span>
</div>